body {
  height: 100vh; /*The game displays according to the screen size*/
  overflow: hidden;
}

#game-container {
  margin: 0;
}

.cards-container {
  display: grid;
  /*4 cards per line for Desktop and Tablet*/
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px 40px;
  margin: 20px;
  justify-content: center;
}

@media (max-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: repeat(2, auto);
      grid-gap: 15px 20px;
      margin: 5px;
  }
}

/*Cards style*/
.card {
  position: relative;
  height: 150px;
  width: 235px;
  border: 2px solid black;
}

@media (max-width: 1200px) {
  .card {
    height: 120px;
    width: 195px;
  }
}

@media (max-width: 600px) {
  .card {
    height: 85px;
    width: 140px;
  }
}

.card-back img,
.card-front img {
  position: absolute; /*2 images are situated in the same position*/
  width: 100%;
  height: 100%;
  /*Image dimention takes the same value as its container*/
}
