body {
  background-color: lightcyan;
  margin:0;
}

#game-title {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: green;
}

@media (max-width: 600px) {
  #game-title  {
    font-size: 3em;
  }
}

/*Game Menu*/
.game-menu{
  text-align: center;
  padding-top: 1.5%;
}

/*Buttons*/
.btnStart,
.btnMusic,
.btnSound,
#btnInstruction {
  width: 180px;
  height: 60px;
  margin-left: 40px;
  font-family: "Comic Sans MS", sans-serif;
  text-transform: uppercase;
  background-color: #ffffdf;
  color: #20bf6b;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  font-size: 1.25em;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.sound-status,
.music-status {
  font-weight: bold;
}

.btnStart:hover,
.btnMusic:hover,
.btnSound:hover,
#btnInstruction:hover {
  background-color: #ffffaf;
  color: #20bf6b !important;
  border-radius: 50px;
  border-color: #20bf6b  !important;
  transition: all 0.3s ease 0s;
}

.btnStart:active,
.btnMusic:active,
.btnSound:active,
#btnInstruction:active {
  background-color: #ffffaf;
  color: #20df6b !important;
  border-radius: 50px;
  border-color: #20df6b  !important;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1200px) {
  .btnStart,
  .btnMusic,
  .btnSound,
  .btnInstruction {

  }
}

@media (max-width: 600px) {
  .btnStart,
  .btnMusic,
  .btnSound,
  .btnInstruction  {
    display: none;
  }
}

/*Game*/
#game-container {
  margin: 0;
}

.game-info {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-score,
.game-time {
  font-size: 1.8em;

  margin-top: 3.5%;
  margin-bottom: 0.85%;
}

@media (max-width: 600px) {
  .game-score,
  .game-time  {
    font-size: 1.4em;
    margin-top: 3%;
    margin-bottom: 1.5%;
  }
}

.score {
  color: green;
  font-weight:bold;
}

.time-remaining {
  color:red;
  font-weight:bold;
}

.cards-container {
  display: grid;
  /*4 cards per line for Desktop and Tablet*/
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px 40px;
  margin: 20px;
  justify-content: center;
  perspective: 1000px; /*create 3D Effect*/
}

@media (max-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: repeat(2, auto);
    grid-gap: 15px 20px;
    margin: 5px;
  }
}

/*Cards style*/
.card {
  position: relative;
  height: 125px;
  width: 215px;
  border: 2px solid black;
  box-shadow: 15px 2px 20px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

@media (max-width: 1200px) {
  .card {
    height: 120px;
    width: 195px;
  }
}

@media (max-width: 600px) {
  .card {
    height: 85px;
    width: 140px;
  }
}

/*make the card smaller when user hover on it*/
.card:hover {
  transform: scale(0.97);
  transition: transform 0.5s;
}

.card.flip {
  transform: rotateX(180deg);
}

.card-back,
.card-front {
  position: absolute; /*2 images are situated in the same position*/
  width: 100%;
  height: 100%;
  /*Image dimention takes the same value as its container*/
  backface-visibility: hidden;
}

.card-front {
  transform: rotateX(180deg);
}

/*Modal style from w3School*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/*Modal header*/
.modal-header{
  text-align: center ;
  text-transform: uppercase;
}

/* Modal Content */
.modal-content {
  font-family: "Comic Sans MS", sans-serif;
  margin:auto;
  margin-top:15%;
  width: 75%;
  font-size: 1.1em;
  text-align: left;
  background-color: #fefefe;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  min-height: 50px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
