body {
  background-color: lightcyan;
  margin:0
}

#game-title {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: green;
}

@media (max-width: 600px) {
  #game-title  {
    font-size: 3em;
  }
}

/*Game Menu*/
.game-menu{
  text-align: center;
  padding-top: 1.5%;
}

/*Buttons*/
.btnStart,
.btnMusic,
.btnSound,
.btnInstruction {
  width: 180px;
  height: 60px;
  margin-left: 40px;
  font-family: "Comic Sans MS", sans-serif;
  text-transform: uppercase;
  background-color: #ffffdf;
  color: #20bf6b;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  font-size: 1.25em;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.btnStart:hover,
.btnMusic:hover,
.btnSound:hover,
.btnInstruction:hover {
  background-color: #ffffaf;
  color: #8a8aff !important;
  border-radius: 50px;
  border-color: #8a8aff !important;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1200px) {
  .btnStart,
  .btnMusic,
  .btnSound,
  .btnInstruction {
    display: none;
  }
}

@media (max-width: 600px) {
  .btnStart,
  .btnMusic,
  .btnSound,
  .btnInstruction  {
    display: none;
  }
}

#game-container {
  margin: 0;
}

.game-container{

}

.cards-container {
  display: grid;
  /*4 cards per line for Desktop and Tablet*/
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px 40px;
  margin: 20px;
  justify-content: center;
  perspective: 1000px; /*create 3D Effect*/
}

@media (max-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: repeat(2, auto);
    grid-gap: 15px 20px;
    margin: 5px;
  }
}

/*Cards style*/
.card {
  position: relative;
  height: 125px;
  width: 215px;
  border: 2px solid black;
  box-shadow: 15px 2px 20px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

@media (max-width: 1200px) {
  .card {
    height: 120px;
    width: 195px;
  }
}

@media (max-width: 600px) {
  .card {
    height: 85px;
    width: 140px;
  }
}

/*make the card smaller when user hover on it*/
.card:hover {
  transform: scale(0.97);
  transition: transform 0.5s;
}

.card.flip {
  transform: rotateX(180deg);
}

.card-back,
.card-front {
  position: absolute; /*2 images are situated in the same position*/
  width: 100%;
  height: 100%;
  /*Image dimention takes the same value as its container*/
  backface-visibility: hidden;
}

.card-front {
  transform: rotateX(180deg);
}
